/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.fc-event.commType {
    background-color: white;
    border: 1px solid black;
}

.fc-event.commType.commType-Phone {
    border: 1px solid #007bff;
}

.fc-event.commType.commType-Email {
    border: 1px solid #28a745;
}

.fc-event.commType.commType-SMS {
    border: 1px solid #ffc107;
}